<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--뷰페이지를 템플릿 화 하기위해 username사용,model 생성 해주면 오류 없이 사용 가능-->
<h1>{{username}}님, 반갑습니다!</h1>
</body>
</html>